.buttonMag {
    color: cyan;
    background-color: magenta;
    padding: 15px;
    border-radius: 5px;
    border-color: magenta;
    font-size: x-large;
    font-weight: 700;
    font-stretch: expanded;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: 100%;
}

.buttonMag:disabled {
    color: rgb(219, 153, 252);
    background-color: rgb(250, 130, 250);
    cursor: not-allowed
}