.container {
  min-height: 100vh;
  background-color: rgb(224, 188, 188);
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.posts {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 30px;
  


}
.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 300ms ease-in-out;
  border-radius: 20px;

}
.post:hover {
  transform: scale(1.05)
}
.post img {max-width: 100%; border-radius:20px 20px 0 0 ;}
.post-content{
  padding:25px;
}
.post-content h1 {

  margin-bottom: 25px;
}